- content_for :title do
  Product description


%hr



%h2
  %div= image_tag(@product[:photo])
  %strong
    = @product[:title]

%div
  - if @product.availability?
    Is available. Order it now!
  - else
    Isn't available. Please wait some time.


%div
  %strong Price:
  = @product[:price]
  dollars.



%div
  %strongPhotos:
  - @product[:photos].split(',').each do |photo|
    = image_tag(photo)



%div
  %strong Short Description:
  = @product[:short_description]

%div
  %strong Full description:
  = @product[:description]


%hr
- if @product.comments.empty?
  No comments yet.
- else
  %h3 Comments.
  - @product.comments.each do |comment|
    = render 'layouts/show_comment', :comment => comment
