!!!
%html{:lang => 'ru'}
  %head
    = javascript_include_tag :application
    %meta{:charset => "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "UWC 1+"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"

  %body
    .navbar
      .navbar-inner
        .container-fluid
          .row-fluid
            %span.pull-right
              = form_tag "/search/", :method => "post" do
                = text_field_tag 'search', '', :class => 'search'
                %br
                = submit_tag("Search")
            %h1
              UWC Shop.
              = yield :title


            = render 'layouts/menu'




    .container-fluid
      .row-fluid
        - if params[:category_link] and controller.class == CategoryController
          .span3
            .well
              = render 'layouts/grouper'


        .span9
          .well
            %h4
              - if flash[:success]
                #notice.message.text-success
                  = flash[:success]
                  = flash[:notice]
              - if flash[:error] or flash[:alert]
                #error.message.text-error.underlined
                  = flash[:error]
                  = flash[:alert]
              - elsif flash[:warning]
                #warning.message= flash[:warning]

            %div
              = yield



    - if Rails.env.development?
      %div= debug(params)
      %pre= session.to_yaml unless session.nil?

